# Ignore Visual Studio specific files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore build outputs
bin/
obj/
*.exe
*.dll
*.pdb
*.cache

# Ignore NuGet packages
packages/
*.nupkg
project.lock.json

# Ignore temporary files
*.tmp
*.log
*.bak
*.swp

# Ignore Rider and JetBrains files
.idea/
*.sln.iml

# Ignore Visual Studio Code settings
.vscode/

# Ignore compiled binaries and user settings
*.dbmdl
*.jfm

# Ignore test results
TestResults/
*.trx

# Ignore Publish files
publish/
*.publishsettings
*.pubxml
